@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(10vw);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes colorChange {
    from {
      color: black;
    }
    to {
      color: #CE4DAE;
    }
  }
  
  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes hideRight {
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  
  .animated-words {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .word {
    opacity: 0;
    white-space: nowrap;
  }
  
  .start-animation1 .word {
    animation: slideIn 0.5s forwards;
  }
  
  .start-animation2 .word {
    animation: slideIn 0.5s forwards, colorChange 0.5s forwards;
  }
  
  .slide-up {
    animation: slideUp 0.5s forwards;
  }
  
  .hide-right {
    animation: hideRight 0.5s forwards;
  }
  
  .word:not(:last-child) {
    margin-right: 10px; /* Adjust the value as needed */
  }
  