@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
    background-color: #040404;
}

::-webkit-scrollbar-thumb {
    background-color: #101010;
    border-radius: 6px; 
}