---
import Carousel from '../components/Carousel.astro';
import Marquees from '../components/Marquees';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dante Castelao">
		<div class="start">
			<svg width="1400px" height="100%">
				<defs>
					<linearGradient id="water-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
						<stop offset="19.85%" style="stop-color: #8952E0"/>
						<stop offset="58.72%" style="stop-color: #CA4AED"/>
						<stop offset="97.58%" style="stop-color: #4A86E8"/>
					</linearGradient>
					<pattern id="water" width=".25" height="1.1" patternContentUnits="objectBoundingBox">
						<path fill="#fff" d="M0.25,1H0c0,0,0-0.659,0-0.916c0.083-0.303,0.158,0.334,0.25,0C0.25,0.327,0.25,1,0.25,1z"/>
					</pattern>
					<mask id="text_mask">
						<use x="0" y="0" xlink:href="#text-border" opacity="1"/>
					</mask>
				</defs>
				<text x="50%" y="120" text-anchor="middle" fill="#070707" stroke="#fff" class="title2" id="text-border" opacity="1">// DANTE CASTELAO</text>
				<rect mask="url(#text_mask)" fill="url(#water-gradient)" x="0" width="100%" height="160" opacity="1"/>
				<text x="50%" y="120" text-anchor="middle" fill="#070707" class="title" id="text" opacity="1">// DANTE CASTELAO</text>
			</svg>
		</div>
		<div class="marquees">
			<Marquees client:only/>
			<div class="light1"/>
		</div>
		<div class="carousel">
			<Carousel />
		</div>
</Layout>

<script>

</script>

<style>
	.start {
		display: flex;
		height: 160px;
		margin-top: 15rem;
		align-items: center;
		justify-content: center;
	}
	.title {
		font-size: clamp(2rem, 8vw, 8rem);
		font-style: italic;
		font-weight: 900;
		text-align: center;
	}
	.title2 {
		font-size: clamp(2rem, 8vw, 8rem);
		font-style: italic;
		font-weight: 900;
		text-align: center;
		stroke-width: clamp(10px, 2vw, 18px);
	}
	.water-fill {
		animation: 	wave 1s infinite linear,
				 	fill-up 7s ease-in; 
	}
	.marquees {
		position: relative;
		margin-top: 35rem;
	}
	@media screen and (max-width: 768px) {
		.marquees {
			margin-top: 28rem;
		}
	}
	.light1 {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		background: linear-gradient(89deg, #8952E0 17.26%, #4A86E8 41.05%, #CA4AED 64.84%);
		filter: blur(350px);
		width: 80%;
		height: 70%;
		animation: light 5s infinite linear;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform: translate3d(-50%, 0, 0);
		-moz-transform: translate3d(-50%, 0, 0);
	}
	.carousel {
		position: relative;
		width: 100%;
		height: 100vh;
		margin-top: 35rem;
		display: flex;
		justify-items: center;
	}
	@media screen and (max-width: 768px) {
		.carousel {
			margin-top: 15rem;
		}
	}
</style>