
<div class="footer">
    <span>© DanteCastelao</span>
    <a href="mailto:dantecastelaou@gmail.com">Email</a>
    <a href="https://www.linkedin.com/in/dante-castelao-04b9a1254/">Linkedin</a>
    <a href="https://github.com/DanteCastelao">Github</a>
</div>

<style>
    .footer {
		display: flex;
		flex-direction: row;
		margin-left: 15%;
		color: #5F5F5F;
		font-size: clamp(0.9rem, 1.5vw, 1rem);
        margin-top: 2rem;
        gap: 2rem;
        background-color: transparent;
        margin-bottom: 2rem;
	}
    @media screen and (max-width: 1200px) {
        .footer {
            margin-left: 8%;
        }
    }
    @media screen and (max-width: 500px) {
        .footer {
            width: 100%;
            margin-left: 0;
            display: flex;
            justify-content: center;
        }
    }
    a {
        text-decoration: none;
        color: #5F5F5F;
    }
</style>