.container {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.container span {
    font-size: clamp(4rem, 8vw, 8rem);
    font-weight: 900;
    font-style: italic;
}

.purple {
    color: rgba(255, 255, 255, 0.08);
}

.pink {
    color: rgba(255, 255, 255, 0.08);
}

.blue {
    color: rgba(255, 255, 255, 0.08);
}