.container {
    width: 100%;
    gap: 8rem;
    display: flex;
    flex-direction: column;
}

.container span {
    font-size: clamp(4rem, 8vw, 9rem);
    font-weight: 900;
    font-style: italic;
}

.purple {
    color: #8952E0;
}

.pink {
    color: #CA4AED;
}

.blue {
    color: #4A86E8;
}