.agorar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 4px;
    width: 100%;
    height: 500px;
    background-color: #C3C3C3;
    border-left: 4px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    outline: 4px inset #fff;
    box-sizing: border-box;
    color: #000;
    width: 50vw;
    padding: 16px 20%;
    overflow-y: scroll;
}
@media screen and (max-width: 1700px){
    .agorar {
        width: 80vw;
        padding: 16px 10%;
    }
}
.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: bold;
}
.title {
    font-size: 1.5rem;
    font-family: "MS Sans bold";
}
.subtitle {
    font-size: 1rem;
    font-family: "MS Sans bold";
}
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background: url('../../assets/tile.png') center;
    border: none;
}
::-webkit-scrollbar-thumb {
    background-color: #C3C7CB;
    background-color: #fff;
    border-left: 2px solid #C1C6C9;
    border-top: 2px solid #C1C6C9;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    outline: 2px outset #fff;
    outline-offset: -4px;
    border-radius: 0;
}
.category {
    display: flex;
    gap: 4px;
    font-weight: bold;
}
.next {
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 2px;
}
.react {
    background-color: #1C1F26;
    color: #149ECA;
    padding: 4px 8px;
    border-radius: 2px;
}
.express {
    background-color: #222222;
    color: #fff;
    padding: 4px 8px;
    border-radius: 2px;
}
.mongodb {
    background-color: #001E2B;
    color: #00ED64;
    padding: 4px 8px;
    border-radius: 2px;
}